# Define bash exports.
# Invoked by .bashrc and login-shell startup files.

[ -d "{{ shell_local_dir }}/bin" ] && export PATH="{{ shell_local_dir }}/bin:$PATH"
[ -d "{{ shell_opt_dir }}/bin" ] && export PATH="{{ shell_opt_dir }}/bin:$PATH"

{% if ansible_facts["system"] == "Darwin" %}
[ -d "{{ shell_texbin_dir }}" ] && export PATH="{{ shell_texbin_dir }}:$PATH"
{% endif %}

# set up for glow
# set EDITOR to nvim for glow config
export EDITOR="{{ shell_editor }}"

# set XDG_CONFIG_HOME for glow to find its config
export XDG_CONFIG_HOME="{{ shell_xdg_config_home }}"
