# style name or JSON path (default "auto")
style: "{{ config_xdg_config_home }}/glow/styles/{{ dot_glow_style_file }}"
# mouse support (TUI-mode only)
mouse: true
# use pager to display markdown
pager: true
# word-wrap at width
width: 80
